@model IEnumerable<WebCamWebSite.Models.GroupMessage>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Исходящие";
}
<div class="col-xl-11 col-12  m-auto">
    <button class="mt-1 btn btn-danger" id="Remove" type="button">Удалить</button>
</div>
<div class="col-xl-11 m-auto table-responsive-xl">
    <table class="table table-dark table-hover">
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col"></th>
                <th scope="col">Id</th>
                <th scope="col">Имя</th>
                <th scope="col">Вопрос</th>
                <th scope="col">Ответ</th>
                <th scope="col">Дата</th>
            </tr>
        </thead>
        <tbody id="Main" class="text-center">

            @{
                if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td><input id="@item.Question.Id" type="checkbox" style="width:25px;height:25px;margin:0;padding:0"></td>
                            <td>@item.Question.Id</td>
                            <td class ="text-break text-left">@item.Question.Name</td>
                            <td class ="text-break text-left">@item.Question.Msg</td>
                            <td class ="text-break text-left">@item.Answer.Msg</td>
                            <td>@item.Question.Date</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

<script>
              $("#Remove").on("click", function () {
                var check = $("#Main input[type=checkbox]:checked");
                var array = new Array();
                check.each(function () {
                    array.push($(this).prop("id"));
                })
           
                if (array.length > 0) {
                    $.ajax({
                        url: '@Url.Action("RemoveMessage", "Admin")',
                        type: "POST",
                        data: { index: array },
                        cache: false,
                     success: function (data) {
                         if (data) {
                             check.each(function () {
                                 $(this).parents("tr").remove();
                               
                             })
                         }
                         },
                        error: function () {
                            alert("Error");
                        }
                    });
                }

            });
</script>